@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
        /* ELEMENTS */
body {
    display: flex;
    height: 100vh;
    align-items: center; /* center of the page from top to bot*/
    justify-content: center; /* center of page from left to right*/
    font-family: 'Open Sans', sans-serif;
    background: rgb(255, 68, 68);
}

h2 {
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 8px;
    margin-top: 20px;
}

li {
    position: relative;
    padding: 8px;
    font-size: 16px;
    transition: 0.1s;
}

li:nth-child(odd) { /* matches every element (in this case li) that is the nth-child no matter the type of the parent */
    background: rgb(255, 266, 266);
}

li:hover {
    background: rgb(255, 168, 168);
}

         /* CLASS */

.container {
    padding: 20px;
    border-radius: 4px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    width: 350px;
    background: #fff;
}

.close {
    position: absolute;
    right: 0px;
    top: 0px;
    display: inline-block;
    padding: 10.75px;
    border: 0;
    background: transparent;
}

.close:hover {
    background: rgb(255, 68, 68);
}
         /* ID */

#listitem {
    border: 0;
    border-bottom: 2px solid #000;
    outline: none;
    transition: 0.15s;
}

#listitem:focus {
    border-bottom: 2px solid rgb(255, 68, 68);
}

#add {
    border: 0;
    background: rgb(255,68 , 68);
    color: #fff;
    padding: 8px 16px;
    cursor: pointer; /* changes the shape of cursor */
}

#list {
    list-style-type: none;
    margin-top: 20px;
}